<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="PROD" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="QA" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <appSettings>
    <!--add key="host" value="https://staging.textkernel.com" /-->
    <add key="environment" value="QA" />
    <add key="chromeHost" value="Remote Web Driver URL" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <PROD>
    <add key="host" value="https://ushome.textkernel.com" />
    <add key="LoginPage" value="/match/login.jsp" />
    <add key="LogoutPage" value="/match/logout.jsp" />
    <add key="NewUserPage" value="/match/users.jsp?account=4&amp;newuser=true" />
    <add key="UsersPage" value="/match/users.jsp" />
    <add key="AccountName" value="somecompany_cv" />
    <add key="UserName" value="somecompany_admin" />
    <add key="Password" value="!jqnm6754" />
  </PROD>
  <QA>
    <add key="host" value="https://staging.textkernel.com" />
    <add key="LoginPage" value="/match/login.jsp" />
    <add key="LogoutPage" value="/match/logout.jsp" />
    <add key="NewUserPage" value="/match/users.jsp?account=4&amp;newuser=true" />
    <add key="UsersPage" value="/match/users.jsp" />
    <add key="AccountName" value="somecompany_cv" />
    <add key="UserName" value="asttest" />
    <add key="Password" value="nbaf8158" />
  </QA>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>